<div class="row">
    <div class="col-md-4">
        <div class="well">
            <img class="img-responsive center-block" src="{{profile.image}}" style="width: 250px;margin-bottom: 25px;">
        </div>
    </div>
    <div class="col-md-8">
        <h1>{{profile.name}}</h1>
        <ul class="list-unstyled">
            <li><strong>Email:</strong> {{profile.email}}</li>
        </ul>
        {{#ifCond user.id profile.id}}
        <a href='/users/{{user.id}}/edit'>
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        {{/ifCond}}
    </div>
</div>

<br />
<br />

<h5>
    已評論餐廳
    <span class="badge badge-primary badge-pill">{{comments.length}}</span>
</h5>
<div class="row">

    {{#each comments}}
    <div class="card" style="width:200px">
        <img class="card-img-top" src="{{this.restaurantImage}}" alt="Card image">
        <div class="card-body">
            <a class="card-title" href="/restaurants/{{this.RestaurantId}}">{{this.restaurantName}}</a>
            <p class="card-text">{{this.text}}</p>
        </div>
    </div>
    {{/each}}
</div>