<div class="row">
  <div class="col-md-12">
    <img class="userImg mb-4"
      src="{{#if user.image}} {{user.image}} {{else}} https://user-images.githubusercontent.com/82774991/124159518-d6b0e480-dacd-11eb-9ea9-cb37aa8e2775.png {{/if}}"
      alt="user img" width="200px" height="200px">
    <div class="mt-2 p-5" style="display: inline-block;">
      <h1><b>{{user.name}}</b></h1>
      <p>
      <h4>{{user.email}}</h4>
      </p>
      <form action="/users/{{user.id}}/edit">
        <button class="btn btn-primary" type="submit">edit</button>
      </form>
    </div>
  </div>
</div>